<button class="btn btn-primary">BLUE</button>
<button class="btn btn-secondary">GREY</button>
<button class="btn btn-success">GREEN</button>
<button class="btn btn-info">ORANGE</button>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque porta. Fusce aliquam vestibulum ipsum. Nulla est. Donec iaculis gravida nulla. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nullam eget nisl. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Nullam faucibus mi quis velit. Nulla non lectus sed nisl molestie malesuada. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Et harum quidem rerum facilis est et expedita distinctio. Etiam neque. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis.</p>

